.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}
  
.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}
  
.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}
  
.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.navLink {
    margin-right: 15px;
}
  
.borderCircle {
    border-radius: 9999px;
}
  
.colorInherit {
    color: inherit;
}
  
.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 6px 12px;
    margin: 1.25rem 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
  
.listItem {
    /* margin: 0 0 1.25rem; */
}
  
.lightText {
    color: #666;
}

.input {
    font-size: 18px;
    padding: 6px 4px;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
}

.button {
    cursor: pointer;
    border:none;
    background: rgb(116, 31, 31);
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
      Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.fullWidth {
    width: 100%

}
